
	#Flash{width:1920px;height:720px;position:absolute;top:0px;left:50%;margin:0px auto  0 -1000px;z-index:500;}
	/*大图*/
	#bigpic{margin:0px auto -10px -960px;width:1920px;height:750px;position:relative;left:50%;}

	